# Environment variables
.env

# Python cache
__pycache__/

# Data files
*.csv
*.pkl
*.jsonl
*.tsv
*.parquet
*.npz
*.npy
*.txt
*.pt

# Tensorboard logs
**/tensorboard/

Other logs
**/logs/

Model checkpoints
**/checkpoints